<div class="flex flex-col items-center my-8">
    {% if section.settings.title != blank %}
        <h1 class="text-3xl font-medium my-8 md:my-16">{{ section.settings.title }}</h1>
    {% endif %}
    {% form 'contact' %}
        
        {% if form.errors %}
            <div class="border p-5">
                <div class="text-sm font-medium ml-3">Oh no! Your message didn't send.</div>
                <ul class="px-4 mb-3 ml-7 list-decimal">
                    {% for error in form.errors %}
                        <li>
                            <span>{{ form.errors.messages[error] }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% elsif form.posted_successfully? %}
            <div class="flex flex-row items-center w-full my-3 p-5">
                <div class="text-sm font-medium ml-3">Message sent successfully!</div>
            </div>
        {% endif %}


        <div class="max-w-6xl mx-auto just-center flex-1 items-center px-4">
            <div class="flex px-1 mb-3">
                <div class="px-3 md:w-1/2">
                    <label class="uppercase text-xs text-gray-500 font-medium" for="contact_name">Name</label>
                    <input class="border py-3 px-4 mb-3 text-gray-700 w-full" type="text" name="contact[name]" id="contact_name">
                </div>
                <div class="px-3 md:w-1/2">
                    <label class="uppercase text-xs text-gray-500 font-medium" for="contact_email">Email</label>
                    <input class="border py-3 px-4 mb-3 text-gray-700 w-full" type="text" name="contact[email]" id="contact_email">
                </div>
            </div>

            <div class="flex px-1 mb-3">
                <div class="w-full px-3">
                    <label class="uppercase text-xs text-gray-50 font-medium" for="contact_message">Message</label>
                    <textarea class="border py-3 px-4 mb-3 text-gray-700 w-full" name="contact[body]" id="contact_message"></textarea>
                </div>
            </div>
            <div class="flex px-1 mv-3">
                <div class="w-full px-3">
                    <input class="w-full cursor-pointer px-4 py-2 border text-base font-meium bg-gray-900 text-white hover:bg-gray-700" type="submit" value="Submit Message">
                </div>
            </div>
        </div>
    {% endform %}
</>

{% schema %}
    {
        "name": "Contact Form",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
        "presets": [
            {
                "name": "Contact Form"
            }
        ]
    }
{% endschema %}