<div class="flex flex-col items-center my-8">
    <h1 class="text-center text-3xl">{{ section.settings.title }}</h1>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            {% for product in section.settings.featured_collection.products limit: section.settings.number_of_products_shown %}
                {% render 'product-card', product: product %}
                {% else %}
                    {% for item in (1..4) %}
                        {% render 'product-card-placeholder' %}
                    {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Featured Collection",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "Featured Collection",
                "label": "Title"
            },
            {
                "type": "collection",
                "id": "featured_collection",
                "label": "Collection"
            },
            {
                "type": "range",
                "id": "number_of_products_shown",
                "min": 1,
                "max": 12,
                "default": 4,
                "step": 1,
                "label": "Number of products shown"
            }
        ],
        "presets": [
            {
                "name": "Featured Collection"
            }
        ]
    }
{% endschema %}