
<div class="px-4 py-8">
    <a href="{{ routes.collections_url }}" class="text-base text-gray-500 hover:underline text-center block my-4">Go back to collections</a>
    {% paginate collection.products by section.settings.number_of_products %}
        <h1 class="text-3xl text-center">{{ collection.title }}</h1>
        <div class="max-w-6xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for product in collection.products %}
                        {% render 'product-card', product: product %}
                    {% else %}
                        <p>no products in this collection</p>    
                {% endfor %}
            </div>
        </div>
        {% render 'pagination' pagination: paginate %}
    {% endpaginate %}
</div>

{% schema %}
    {
        "name": "Collections Template",
        "settings": [
            {
                "type": "range",
                "id": "number_of_products",
                "default": 6,
                "label": "Number of products shown",
                "min": 1,
                "max": 15,
                "step": 1
            }
        ]
    }
{% endschema %}
