<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
  />
  
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

<style>
    .swiper-button-prev, .swiper-button-next { color: black; top: auto !important; height: 20px;}
    .swiper-button-prev::after, .swiper-button-next::after { font-size: 20px;}
    .swiper-pagination { bottom: 0 !important; }
    .swiper-pagination-bullet-active {background: black !important; }
</style>

<div class="max-w-6xl mx-auto my-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="product--medias">
            <div class="hidden md:block">
                {% for media in product.media %}
                    <div class="h-100 overflow-hidden p-2">
                        {% render 'product-media', media: media %}
                    </div>
                {% endfor %}
            </div>
            <div class="md:hidden">
                <div class="swiper h-94">
                    <div class="swiper-wrapper">
                        {% for media in product.media %}
                            <div class="swiper-slide">
                                <div class="h-80 overflow-hidden p-2">
                                    {% render 'product-media', media: media %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>

        <div class="product--information"></div>
    </div>
</div>

<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        pagination: {
            el: '.swiper-pagination'
        },
        navigation: {
            prevEl: '.swiper-button-prev',
            nextEl: '.swiper-button-next'
        }
    })
</script>